:root {
	//=============/=============/=============
  // base
	--offset-maximum: 100px;
	--offset-huge: 60px;
	--offset-large: 40px;
	--offset-middle: 30px;
	--offset-small-back: -20px;
	--offset-small: 20px;
	--offset-minimum-back: -10px;
	--offset-minimum:10px;

	//=============/=============/=============
  // colors
  --white-color: #fff;
	--black-color: #000;
	--westSide-color: #ff9218;
	--blue-color: #1f9cff;
	--outerSpace-color: #2f363e;
	--xanadu-color: #7d7f7d;
	--bgImage-color: #505050;
	--grey-color: #2f4f4f;
	--orange-color: #b3821a;
	--pumpkin-color: #d9821a;
}