<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>


	<a href="#delivery" class="menu__link">

		<!--?  привязка идет по  href="#delivery" и id="delivery" -->
		
	<section class="delivery" id="delivery"></section>

	<!-- ? если будет фиксированная шапка она будет перекрывать верхнюю часть блока -->
	<!-- ? поэтому блоку нужно присвоить  padding-top выше чем у шапки -->
	<!-- ? если скрол до footer то ему нужно сделать вложенность footer__inner -->
	<!-- ? и уже ему присвоить отступ margin-top -->




	<script src="anchors.js"></script>
</body>

</html>